.myForm{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.container{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
 
}
.myBtn{
  background-color: #00c4a7;
  border-color: transparent;
  color: #fff;
}
.myBtn:hover{
  background-color: #08daba;
  border-color: transparent;

}