*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: 'montserrat',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  height: 100%;
  width: 100%;
}
.fullwidthheight{
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.signupFormCentered{
  width: auto;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.signupBtn{
  width: 100%;
}
.underlineBtn{
  border: none !important;
  text-decoration: underline;
  font-size: 0.8rem !important;
}
.hero.is-medium .hero-body {
  padding: 3rem 4.5rem !important;
}
.dashboard{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  font-family: 'montserrat';
  height: 100%;
}
.radioButtons{
  display: flex;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.radiobtn{
  padding-left: 2rem;
}
.navbar-brand{
  justify-content: center;
}
.mainDiv{
  width: auto;
  height: 100%;
}
.bmiChart{
  /* width: 100%; */
  max-width: 250px;
}

 /* Recipes */
 .recipesCard{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   max-width: 80%;
   margin: auto;
   padding: 2rem;
   border-radius: 2rem 2rem 1rem 1rem;
   background-color: bisque;
   box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);

 }
 .recipesCard img{
   max-width: 100%;
   border-radius: 50%;
   padding: 1rem;
 }
 .auth{
   background-image: url("./images/cooking.jpg");
   background-size: cover;
   position: absolute;
   width: 100%;
   height: 100%;
   filter: brightness(50%);
 }
 .section{
  padding: 10rem 1rem !important;
 }
 .loginTitle{
   color: whitesmoke;
   font-size: 3rem;
 }
 .loginLabel{
  color: whitesmoke;
 }